<div
  class="mb-[15rem] min-h-[7rem] pt-6 md:pt-0 pb-20 md:pb-0 bg-secondary flex flex-col md:flex-row justify-between items-center">
  <img src="/assets/images/logo-primary.png" alt="PDS Logo" class="ml-0 md:ml-6" width="250px" height="65px">
  <p class="text-white text-center px-4 mr-0 md:mr-6 flex flex-col md:flex-row gap-1">Copyright © 2023 Psych Degree
    Starter |
    <a class="text-white no-underline" href="https://psychdegreestarter.com/privacy-policy/">Privacy
      Policy</a>
  </p>
</div>
