<header class="w-screen px-6 py-3 flex justify-between mx-auto absolute z-10">
  <div class="flex items-center lg:p-1">
    <img class="w-[95%] max-h-[4rem]" width="200px" height="50px" src="/assets/images/logo-primary.png" alt="PDS logo">
  </div>
  <div class="flex justify-center">
    <div class="block">
      <a href="https://psychdegreestarter.com/apply-now/"
        class="text-center shadow-xl tertiary-button mx-auto lg:mx-0 w-[10rem] block">
        Apply Now
      </a>
    </div>
  </div>
</header>
