{{ if not (in .Permalink "/blog/") }}

<div role="button"
  class="no-underline w-[14rem] flex flex-col justify-center fixed md:hidden bottom-0 right-0 ml-auto bg-dark-red py-4 px-4 z-[9]">
  {{ if eq .RelPermalink "/lp/apply-now/" }}
  {{else}}
  {{ if in .Permalink "/lp/" }}
  <button onclick="handleLpFooterClick()"
    class="max-w-[14rem] bg-light text-dark-red p-3 primary-button drop-shadow-lg w-full flex flex-row justify-center items-center slide-left visible hover:no-underline">Request
    Info</button>
  {{else}}
  <button onclick="handleGlobalFooterClick()"
    class="max-w-[14rem] p-3 bg-light primary-button  text-dark-red drop-shadow-lg w-full flex flex-row justify-center items-center slide-left visible hover:no-underline">
    Request Info
  </button>
  {{end}}
  {{ end }}
</div>
{{end}}

{{ if not (or (in .Permalink "/apply-now/") (in .Permalink "/blog/")) }}
<div role="button"
  class="z-10 no-underline py-4 w-40 flex flex-col justify-center fixed hidden lg:block md:top-20 right-0 ml-auto">
  <button onclick="handleGlobalFooterClick()"
    class="max-w-[14rem] primary-button drop-shadow-lg w-full flex flex-row justify-center items-center slide-left visible font-normal hover:no-underline">
    Request Info
  </button>
</div>
{{ end }}

<script>
  const handleGlobalFooterClick = () => {
    document.getElementById('scroll-to').scrollIntoView();
  }
  const handleLpFooterClick = () => {
    window.scrollTo({ top: 700, behavior: 'smooth' });
  }
</script>