{{if .isAnchor}}
<a href="{{.href}}"
  class="shadow-2xl no-underline hover:no-underline cursor-pointer max-w-[13rem] lg:max-w-[17rem] flex justify-center {{if .btnColor}}btn {{.btnColor}}{{else}}btn btn-primary{{end}} m-2 w-full flex-row items-center py-4 {{.btnTextColor}} {{.btnFont}} {{.classes}}">
  {{.label}}
</a>
{{else}}
<button
  class="shadow-2xl no-underline hover:no-underline cursor-pointer max-w-[13rem] lg:max-w-[17rem] flex justify-center {{if .btnColor}}btn {{.btnColor}}{{else}}btn btn-primary{{end}} m-2 w-full flex-row items-center py-4 {{.btnTextColor}} {{.btnFont}} {{.classes}}">
  {{.label}}
</button>
{{end}}
