<div fetchpriority="high"
  class="bg-no-repeat bg-cover bg-fit lg:bg-[position:20%] {{.customBgPosition}} min-h-[32rem] md:min-h-[35rem] md:pr-0 flex justify-center items-center {{.imageMobile}} {{.imageTablet}} {{.imageDesktop}} bg-overlay bg-blend-multiply">
  <div class="w-[1100px] mx-auto h-full flex flex-col lg:flex-row items-center px-6 sm:p-6 text-left">
    <div class="lg:w-1/2 flex flex-col items-center lg:mr-20 mx-auto mt-[5rem] md:mt-0">
      <div class="{{.customPadding}} max-w-[35rem]">
        <h1 class="text-5xl font-normal text-white text-center leading-[3rem] lg:text-5xl z-10 relative">
          {{.heading | markdownify}}
        </h1>
      </div>
      <div class="mt-4 max-w-[26rem]">
        <p class="text-2xl font-semibold text-white text-center mx-auto z-10 relative">
          {{.subheading}}
        </p>
      </div>
    </div>
    <div class="w-full lg:w-[45%] relative hidden md:hidden lg:block md:flex justify-center lg:self-start">
      <div class="bg-white absolute drop-shadow-2xl mt-20 lg:mt-[-3rem] ">
        {{ partial "lp-form" . }}
      </div>
    </div>
  </div>
</div>
<div class="min-w-full max-w-[1200px] bg-light px-6 pb-[15rem] lg:pb-0">
  <div class="flex justify-end lg:w-1/2  text-center py-8 lg:text-left lg:mt-0">
    <div class="flex flex-row justify-end bg-light mx-auto lg:mx-0 max-w-full gap-x-4">
      {{ range .icons }}
      <div class="flex flex-1 flex-col items-center text-center md:min-w-[8rem] max-w-[12rem] py-4">
        <div class="inline-flex items-center justify-center rounded-full bg-light">
          <div class="flex justify-center">
            <img width="{{if .width}}{{.width}}{{else}}75{{end}}" height="75" src="/assets/icons/{{.img}}"
              alt="{{.alt}}" loading="lazy" class="mx-auto">
          </div>
        </div>
        <p class="text-center text-black font-header font-medium text-base md:max-w-[9rem] px-2 pt-6">{{.text}}
        </p>
      </div>
      {{ end }}
    </div>
    {{.applyInstructions | markdownify}}
  </div>
  <div class="bg-light"></div>
</div>
<div class="max-w-[900px] mx-auto mt-[-15.5rem] lg:mt-0">
  <div class="relative lg:hidden bg-white pb-2 drop-shadow-2xl -mt-32 max-w-[90vw] md:max-w-[60vw] mx-auto lg:mt-0">
    {{ partial "lp-form" . }}
  </div>
</div>